{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Web App</title>
    <link rel="stylesheet" href="{% static 'animes/style.css' %}">
</head>
<body class="dark-theme">
<nav class="navbar">
    {% if user.is_authenticated %}
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'watchlist' %}" class="nav-link">Watchlist</a>

    </div>

    {% endif %}
    {% if user.is_authenticated %}
    <div class="navbar-right">
        <a href="{% url 'logout' %}" class="nav-link logout-btn">Logout</a>
    </div>
    {% else %}
    <div class="navbar-right">
        <a href="{% url 'login' %}" class="nav-link logout-btn">Login</a>
    </div>
    {% endif %}
</nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>